# Module - 1:  Introduction to the problem

###### Loading required libraries

In [1]:
import pandas as pd    # data loading tool
import matplotlib.pyplot as plt   #ploting tool

## 1.1  Loading the dataset

In [2]:
data = pd.read_csv('TATAPOWER.csv')
data.head()    # display first 5 rows

,Symbol,Series,Date,Prev Close,Open Price,High Price,Low Price,Last Price,Close Price,Average Price,Total Traded Quantity,Turnover,No. of Trades,Deliverable Qty,% Dly Qt to Traded Qty
0,TATAPOWER,EQ,15-May-2017,82.30,82.55,83.80,82.15,83.55,83.55,82.85,2007841,1.663515e+08,13315,796744,39.68
1,TATAPOWER,EQ,16-May-2017,83.55,83.90,85.95,83.40,83.70,83.85,84.20,5141578,4.329310e+08,23193,2125318,41.34
2,TATAPOWER,EQ,17-May-2017,83.85,84.00,86.00,83.60,85.15,85.35,84.92,5499293,4.669814e+08,32097,2264851,41.18
3,TATAPOWER,EQ,18-May-2017,85.35,84.75,85.60,83.50,83.80,83.75,84.49,2296399,1.940177e+08,6983,1217618,53.02
4,TATAPOWER,EQ,19-May-2017,83.75,84.40,85.45,83.05,83.90,84.15,84.03,6222693,5.229199e+08,19269,1918659,30.83

In [3]:
data.tail() #display last 5 rows

,Symbol,Series,Date,Prev Close,Open Price,High Price,Low Price,Last Price,Close Price,Average Price,Total Traded Quantity,Turnover,No. of Trades,Deliverable Qty,% Dly Qt to Traded Qty
490,TATAPOWER,EQ,07-May-2019,65.85,66.5,66.50,64.10,64.45,64.35,65.01,6153618,4.000315e+08,23858,2346311,38.13
491,TATAPOWER,EQ,08-May-2019,64.35,64.0,64.80,63.20,64.65,64.50,64.29,6615929,4.253711e+08,23860,3208086,48.49
492,TATAPOWER,EQ,09-May-2019,64.50,64.1,64.95,63.90,64.45,64.40,64.43,5987301,3.857531e+08,19977,3447645,57.58
493,TATAPOWER,EQ,10-May-2019,64.40,64.4,65.30,63.60,63.80,63.80,64.47,5801249,3.739943e+08,29118,2949787,50.85
494,TATAPOWER,EQ,13-May-2019,63.80,63.8,64.30,61.75,62.50,62.60,63.20,5045201,3.188605e+08,32892,2607155,51.68




###### Removing all the rows where 'Series' column is NOT 'EQ'

In [4]:
data['Series'].value_counts()

EQ    494
BL      1
Name: Series, dtype: int64

In [5]:
data = data[data['Series'] == 'EQ']    #checking for category

In [6]:
data = data.reset_index(drop=True)
data.Series.value_counts()

EQ    494
Name: Series, dtype: int64

###### Checking data for any missing values

In [7]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 494 entries, 0 to 493
Data columns (total 15 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Symbol                  494 non-null    object
 1   Series                  494 non-null    object
 2   Date                    494 non-null    object
 3   Prev Close              494 non-null    float64
 4   Open Price              494 non-null    float64
 5   High Price              494 non-null    float64
 6   Low Price               494 non-null    float64
 7   Last Price              494 non-null    float64
 8   Close Price             494 non-null    float64
 9   Average Price           494 non-null    float64
 10  Total Traded Quantity   494 non-null    int64
 11  Turnover                494 non-null    float64
 12  No. of Trades           494 non-null    int64
 13  Deliverable Qty         494 non-null    int64
 14  % Dly Qt to Traded Qty  494 non-null    float64
dtypes: float64(9), int64(3), object(3)
memory usage: 58.0+ KB






###### Summerizing the given dataset, MIN, MAX values

In [8]:
data.describe()

,Prev Close,Open Price,High Price,Low Price,Last Price,Close Price,Average Price,Total Traded Quantity,Turnover,No. of Trades,Deliverable Qty,% Dly Qt to Traded Qty
count,494.000000,494.000000,494.000000,494.000000,494.000000,494.000000,494.000000,4.940000e+02,4.940000e+02,494.000000,4.940000e+02,494.000000
mean,78.841700,78.984413,80.068219,77.765486,78.774595,78.801822,78.896964,5.897024e+06,4.724025e+08,20910.155870,2.370816e+06,41.475142
std,7.634453,7.681945,7.683621,7.658060,7.643224,7.667731,7.640142,4.767900e+06,4.069813e+08,13684.600702,1.936902e+06,12.983357
min,60.950000,61.300000,62.400000,59.800000,61.200000,60.950000,61.140000,4.376310e+05,3.327431e+07,2458.000000,1.870470e+05,10.060000
25%,73.250000,73.412500,74.562500,71.962500,73.150000,73.212500,73.210000,3.272306e+06,2.494220e+08,12688.000000,1.242190e+06,31.772500
50%,78.825000,78.825000,80.175000,77.700000,78.725000,78.800000,78.925000,4.756478e+06,3.616031e+08,17548.000000,1.873638e+06,40.190000
75%,83.087500,83.350000,84.287500,82.437500,83.037500,83.087500,83.197500,7.141946e+06,5.760226e+08,24345.750000,2.844164e+06,49.690000
max,100.800000,100.950000,101.800000,99.600000,100.450000,100.800000,100.600000,4.467388e+07,3.500284e+09,116037.000000,2.464164e+07,88.030000

## 1.2  MIN, MAX and MEAN of Close Price feature for last 90 days

In [9]:
closing_price_90D = data[['Close Price']][404:494]   # slicing for 90 days
closing_price_90D.describe()

       Close Price
count    90.000000
mean     70.745000
std       3.617661
min      62.600000
25%      67.725000
50%      71.300000
75%      73.800000
max      76.800000

## 1.3  Changing the 'Date' column from 'object'  to  'datetime64(ns)'

In [10]:
data['Date'] = pd.to_datetime(data['Date'])

In [11]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 494 entries, 0 to 493
Data columns (total 15 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Symbol                  494 non-null    object
 1   Series                  494 non-null    object
 2   Date                    494 non-null    datetime64[ns]
 3   Prev Close              494 non-null    float64
 4   Open Price              494 non-null    float64
 5   High Price              494 non-null    float64
 6   Low Price               494 non-null    float64
 7   Last Price              494 non-null    float64
 8   Close Price             494 non-null    float64
 9   Average Price           494 non-null    float64
 10  Total Traded Quantity   494 non-null    int64
 11  Turnover                494 non-null    float64
 12  No. of Trades           494 non-null    int64
 13  Deliverable Qty         494 non-null    int64
 14  % Dly Qt to Traded Qty  494 non-null    float64
dtypes: datetime64[ns](1), float64(9), int64(3), object(2)
memory usage: 58.0+ KB

Date type is changed to dattime64[ns]

When we substract max and min Date values, we get 728 days. But the given data has only 494 instances (494 market days), which are excluding 'holidays'.

In [12]:
max(data['Date']) - min(data['Date'])

Timedelta('728 days 00:00:00')

## 1.4  Volume Weighted Average Price
VWAP=∑(Price * Volume)/∑(Volume)

In [13]:
data['Year'] = data['Date'].dt.year
data['Month'] = data['Date'].dt.month

In [14]:
import numpy as np     # tool for scitific calculation in python
groups = data.groupby(['Month', 'Year'])
for group in groups:   #obtaining VWAP for each group
    data['VWAP'] = (np.cumsum(data['Close Price']*data['Total Traded Quantity']) / np.cumsum(data['Total Traded Quantity']))

## 1.5 Function definitions

In [15]:
#function to calculate avg price over the last N days
def avg_price_cal(N):
    avg = 0; total = 0; n = 0
    while n <= N-1:
        total = total + data['Close Price'][493 -n]
        n += 1
    avg = total/N
    return avg

In [16]:
#function to caculate profit/loss % over the last N days
def profit_loss(N):
    avg = 0; total = 0; n = 0
    while n <= N-1:
        total = total + ((data['Close Price'][493 -n] - data['Close Price'][491 -n])/data['Close Price'][493 -n])*100
        n += 1
    return total

In [17]:
print('======= avg prices=======')
print('avg price 1 week:',avg_price_cal(7))
print('avg price 2 week:',avg_price_cal(14))
print('avg price 1 month:',avg_price_cal(30))
print('avg price 2 months:',avg_price_cal(90))
print('avg price 3 months:',avg_price_cal(180))
print('avg price 1 year:',avg_price_cal(365))
print('====== profit/loss =======')
print('profit/loss 1 week:',profit_loss(7))
print('profit/loss 2 week:',profit_loss(14))
print('profit/loss 1 month:',profit_loss(30))
print('profit/loss 2 months:',profit_loss(90))
print('profit/loss 3 months:',profit_loss(180))
print('profit/loss 1 year:',profit_loss(365))

======= avg prices=======
avg price 1 week: 64.63571428571429
avg price 2 week: 66.2642857142857
avg price 1 month: 69.39166666666667
avg price 2 months: 70.74500000000002
avg price 3 months: 72.3736111111111
avg price 1 year: 77.91999999999996
====== profit/loss =======
profit/loss 1 week: -12.436921935307787
profit/loss 2 week: -23.59281874965982
profit/loss 1 month: -25.73675786245811
profit/loss 2 months: -42.37536211192715
profit/loss 3 months: -27.41559462514183
profit/loss 1 year: -71.21376573988753

## 1.6 Adding 'Day_Perc_Change' column

In [18]:
data['Day_Perc_Change'] = data['Close Price'].pct_change(periods=2)*100
data['Day_Perc_Change'].fillna(0, inplace=True)  #replacing NaN with 0's

The first two rows in 'Day_Perc_Change' column are NaN. this is because there are no previous values to compute the change with periods = 2

## 1.7 Adding 'Trend' column

In [19]:

def category(num):
    if num >= -0.5 and num <= 0.5 : return 'Slight or No change'
    elif num >= 0.5 and num <= 1 : return 'Slight positive'
    elif num >= -1 and num <= -0.5 : return 'Slight negative'
    elif num >= 1 and num <= 3 : return 'Positive'
    elif num >= -3  and num <= -1 : return 'Negative'
    elif num >= 3 and num <= 7 : return 'Among top gainers'
    elif num >= -7  and num <= -3 : return 'Among top losers'
    elif num > 7 : return 'Bull run'
    elif num < -7 : return 'Bear drop'

    
data['Trend'] = data.Day_Perc_Change.apply(category)

In [20]:
data['Trend'].value_counts()

Negative               123
Slight or No change    112
Positive                71
Among top losers        53
Slight negative         48
Among top gainers       42
Slight positive         33
Bull run                10
Bear drop                2
Name: Trend, dtype: int64

## 1.8 Mean, Median of 'Total Traded Quantity' by 'Trend'

In [21]:
print(data[['Trend', 'Total Traded Quantity']].groupby(['Trend'], as_index=False).mean().sort_values(by='Total Traded Quantity', ascending=False))

                 Trend  Total Traded Quantity
3             Bull run           1.785052e+07
0    Among top gainers           1.023532e+07
1     Among top losers           6.114574e+06
5             Positive           5.651874e+06
6      Slight negative           5.606230e+06
4             Negative           5.162910e+06
2            Bear drop           4.984548e+06
7  Slight or No change           4.620961e+06
8      Slight positive           4.476728e+06

## 1.9 Saving the data file

In [22]:
data.to_csv(r'C:\Users\user\Desktop\Intership\Aspiration\week2.csv')